* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root {
  --dark: #313131;
  --light: #f5f5f5;
  --cinzaclaro: #323131be;
  --cinzaescuro: #4a4949;
  --white: white;
  --black: #000000;
  --rosa: #eea9dfc0;
  --rosaescuro: #AB1A9C;
  --azul: #6283F0;
  --verde: #5dbea3;
}

.dark-mode:root {
  --light: #3d3c3ca0;
  --dark: #f5f5f5;
  --white: #000000;
  --black: #f4f4f4;
  --rosa: #6283F0;
  --azul: #eea9dfc0;
  --cinzaescuro: #e5e1e1be;
  --cinzaclaro: #4a4949;
}

[data-theme="dark"] {
  --light: #3d3c3ca0;
  --dark: #f5f5f5;
  --white: #000000;
  --black: #f4f4f4;
  --rosa: #6283F0;
  --azul: #eea9dfc0;
  --cinzaescuro: #e5e1e1be;
  --cinzaclaro: #4a4949;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nome-icon {
  width: 24px;
  height: 24px;
}

.nome {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header>.interface {
  display: flex;
  width: 1136px;
  padding: 32px 0px;
  justify-content: space-between;
  align-items: center;
}

.menu-desktop {
  display: flex;
  align-items: center;
  gap: 32px;
}

header a {
  color: var(--cinzaclaro);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

header .btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--verde);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

header a:hover {
  color: var(--black);
  transform: scale(1.05);
}

header .btn-contato button:hover {
  box-shadow: 0px 0px 8px #5adbb5;
}

/* botao mobile */

header .interface {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 8px;
}

.botao-mobile {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: var(--light);
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 5rem;
  align-items: center;
  padding: .45rem .354rem;
  cursor: pointer;
}

.botao-mobile:hover {
  background-color: var(--azul);
  transition: 400ms;
}

/* menu mobile */

/* PAREI AQUI

.menu-mobile {
  background-color: var(#0000008c);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 77px;
  left: 0;
  width: 100%;
  height: 100vh;
 display: none; 
}

.menu-mobile nav a {

  color: var(#fff);
  text-decoration: none;
  display: block;
  padding: 20px 30px;
  font-size: 16px;
}

.menu-mobile nav a:hover {
  background-color: #00000080;
}

.linha {
  position: relative;
  height: 3px;
  background: #fff;
  width: 25px;
  display: block;
  margin: 5px auto;
  transform-origin: center;
  transition: .2s;
}

#btn-menu.ativar {
  border: 2px solid red;
}

#btn-menu.ativar .linha:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
  background-color: red;
}
*/

/* switch */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* botao mobile */

.botao-mobile {
  display: none;
}


/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
  transform: translateX(30px);
}

@media (min-width: 0px) and (max-width: 1200px) {

  .menu-desktop,
  .btn-contato {
    display: none;
  }

  .flex {
    flex-direction: column;
  }

  .banner .flex {
    flex-direction: column-reverse;
  }

  label.switch {
    display: none;
  }

  /* botao mobile */
  header .interface {
    display: block;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 8px;
  }

  .botao-mobile {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: var(--light);
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 5rem;
    align-items: center;
    padding: .45rem .354rem;
    cursor: pointer;
  }
  
  .botao-mobile:hover {
    background-color: var(--azul);
    transition: 400ms;
  
  }





}