* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root {
  --dark: #313131;
  --light: #f5f5f5;
  --cinzaclaro: #323131be;
  --cinzaescuro: #4a4949;
  --white: white;
  --black: #000000;
  --rosa: #eea9dfc0;
  --rosaescuro: #AB1A9C;
  --azul: #6283F0;
  --verde: #5dbea3;
}

.dark-mode:root {
  --light: #3d3c3ca0;
  --dark: #f5f5f5;
  --white: #000000;
  --black: #f4f4f4;
  --rosa: #6283F0;
  --azul: #eea9dfc0;
  --cinzaescuro: #e5e1e1be;
  --cinzaclaro: #4a4949;
}

[data-theme="dark"] {
  --light: #3d3c3ca0;
  --dark: #f5f5f5;
  --white: #000000;
  --black: #f4f4f4;
  --rosa: #6283F0;
  --azul: #eea9dfc0;
  --cinzaescuro: #e5e1e1be;
  --cinzaclaro: #4a4949;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nome-icon {
  width: 24px;
  height: 24px;
}

.nome {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header>.interface {
  display: flex;
  width: 100vw;
  padding: 32px 0px;
  justify-content: space-between;
  align-items: center;
}

.menu-desktop {
  display: flex;
  align-items: center;
  gap: 32px;
}

header a {
  color: var(--cinzaclaro);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

header .btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--verde);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

header a:hover {
  color: var(--black);
  transform: scale(1.05);
}

header .btn-contato button:hover {
  box-shadow: 0px 0px 8px #5adbb5;
}

/* botao mobile */

header .interface {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 8px;
}


/* menu mobile */
.menu-mobile, .btn-abrir-menu {
  display: none;
}

.btn-abrir-menu img {
  width: 40px;
}

.menu-mobile {
  background-color: var(--azul);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  height: 100vh;
  width: 0%;
  overflow: hidden;
  transition: .5s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 25px 5%;
}

.menu-mobile .btn-fechar img {
  width: 35px;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  color: var(--black);
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: #00000080;
  color: var(--azul);
}

.overlay-menu {
  background-color: rgba(179, 176, 176, 0.593);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

/* switch */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2.125rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 1.875rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 1.25rem;
  left: 0.125rem;
  bottom: 0.125rem;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 0.375rem;
  left: 2.25rem;
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 0.313rem;
  left: 0.313rem;
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
}


/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
  transform: translateX(1.875rem);
}

@media (min-width: 0px) and (max-width: 1200px) {

  .menu-desktop,
  .btn-contato {
    display: none;
  }


  .flex {
    flex-direction: column;
  }

  .banner .flex {
    flex-direction: column-reverse;
  }
  
  /* botao mobile */
  header .interface {
    display: block;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .menu-mobile, .btn-abrir-menu {
    display: block;
  }

}