/* RODAPE */

.rodape {
    width: 100%;
    height: 6vh;
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.rodape-texto {
    font-size: 16px;
    font-weight: 700;
    color: var(--light);
    display: flex;
    align-items: center;
}

.icone-texto {
    margin: 0 8px;
    animation: pulsar 1s infinite alternate;
}

@keyframes pulsar {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1.2);
    }
}

/* SCROLL */

#Btn {
    left: 85vw;
    margin-bottom: .5vh;
}

.Btn {
    width: 45px;
    height: 45px;
    background: linear-gradient(var(--azul), #506ef4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
  }
  
  .arrow path {
    fill: var(--light);
  }
  
  .text {
    font-size: 1em;
    width: 100px;
    position: absolute;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -18px;
    opacity: 0;
    transition-duration: .7s;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .7s;
  }
  
  .Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media (min-width: 0px) and (max-width: 1024px) {
    #Btn {
      left: 93vw;
      margin-bottom: 15px;
  }
  .Btn {
      width: 30px;
      height: 30px;
  }
  }
 